@import '../../../../scss/components/design-system/ui_colors.scss';

#board-content {
  .react-kanban-column {
    background-color: red;
    border-radius: 16px !important;
    background-color: #fff !important;
    top: 0 !important;
    left: auto !important;
    .column-header {
      flex-wrap: wrap;
      &::after {
        padding-bottom: 8px !important;
        content: '';
        display: block;
        width: 100%;
        border-bottom: 3px solid #0f1b35;
      }
      &:hover {
        text-decoration: none !important;
      }
      .drag-icon {
        width: 10px;
        margin-right: 12px;
      }
      .column-title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500 !important;
        font-size: 16px;
        line-height: 24px;
        color: #0d062d;

        &::before {
          content: '';
          display: inline-block;
          background-color: #0f1b35;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 8px;
        }
      }
      .number-lessons {
        display: inline-block;
        text-align: center;
        width: 20px !important;
        weight: 20px !important;
        font-family: 'Inter', 'Poppins', arial;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #625f6d;
        padding: 4px 8px !important;
        border-radius: 50%;
        background-color: #e0e0e0 !important;
      }
      .menu-right {
        display: flex;
        align-items: center;
        .column-add-card {
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px !important;
          margin-right: 16px;
          padding: 5.25px;
          background-color: #cad6f5 !important;
          max-height: 20px;
          cursor: pointer;
          i {
            margin-bottom: 1px !important;
            font-size: 16px;
            color: #3e5386;
          }
          &:hover {
            background-color: #a8b6d8 !important;
            i {
              color: #3e5386 !important;
            }
          }
        }
        .column-ham {
          font-size: 24px;
          display: flex;
          cursor: pointer;
          &:hover {
            color: #0f1b35;
          }
        }
      }
    }
  }
  .custom-card {
    padding: 16px !important;
    border-radius: 16px !important;

    background-color: #f8f9fd !important;
    &.inactive {
      .class-ready {
        background-color: #f2e7dd !important;
        span,
        i {
          color: #d58d49 !important;
        }
      }
    }
    &.true {
      box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
      border: 2px solid #0f1b35 !important;
    }
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      .class-ready {
        display: flex;
        align-items: center;
        background-color: #cbedd9;
        color: #149247;
        border-radius: 8px;
        padding: 8px;
        i {
          font-size: 24px;
          margin-right: 8px;
        }
        span {
          font-family: 'Inter', 'arial', 'sans-serif' !important;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 15px;
          color: #149247;
        }
      }
      .icons-right {
        display: flex;
        align-items: center;
        i {
          padding: 5px;
          font-size: 18px;
          &:hover {
            color: #0f1b35;
          }
        }
      }
    }
    .title {
      text-decoration: none !important;
      .text-wrap {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #0d062d;
      }
    }
    .number-lessons {
      display: inline-block;
      text-align: center;
      min-width: 20px !important;
      min-height: 20px !important;
      font-family: 'Inter', 'Poppins', arial;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #625f6d;
      padding: 4px 8px !important;
      border-radius: 50%;
      background-color: #e0e0e0 !important;
    }
    .description {
      margin-top: 8px;
      .text-wrap {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #787486;
        p {
          white-space: nowrap !important;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0 !important;
          display: block !important;
          max-width: 100%;
        }
      }
    }
    .bottom-items {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      i {
        font-size: 19px;
      }
      .info {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 8px;
        padding: 8px;
        i {
          margin-right: 16px;
          &.active {
            color: #e9453a;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .time {
        display: flex;
        align-items: center;
        i {
          margin-right: 8px;
        }
      }
    }
  }

  [data-rbd-draggable-context-id] {
    top: auto !important;
    left: auto !important;
  }
}

#create-module {
  max-width: 792px;
}
.modal {
  .modal-content {
    border-radius: 10px !important;
    .close {
      span {
        color: #5d6263;
        font-size: 40px;
      }
    }
    .modal-header {
      border-bottom: 1px solid #d6d6d6 !important;
      padding: 24px;
      display: flex;
      align-items: center !important;
      .modal-title {
        margin: 0;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: #0f1b35;
      }
    }
    .modal-body {
      padding: 24px;
      .form-control {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px !important;
        line-height: 21px;
        padding: 8px 16px;
        display: flex;
        align-items: center;
        color: #7e7e81;
      }

      select:not([multiple]) {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-position: 96% 50%;
        background-repeat: no-repeat;
        background-image: url(../../../../images/arrow-down.svg);
        padding: 8px 40px 8px 16px !important;
      }
      select::-ms-expand {
        display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
      }
      select {
        background-image: none\9;
        padding: 5px\9;
      }
      .check-wrap {
        div {
          border-radius: 8px;
        }
        .top {
          background-color: #f8f9fd;
          align-items: center;
          padding: 16px;
          flex-direction: row;
          flex-wrap: wrap;
          &::after {
            content: '';
            margin-top: 16px;
            display: flex;
            width: 100%;
            height: 1px;
            background-color: #d6d6d6;
          }
          label {
            margin-right: 16px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 26px;
            color: #4b4b4e;
            margin-bottom: 0;
          }
          i {
            font-size: 32px !important;
            &.bxs-checkbox {
              color: #ddddde;
            }
            &.bxs-checkbox-checked {
              color: #0f1b35;
            }
          }
          span {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 161.1%;
            color: #19191a;
            text-decoration: none !important;
            margin-left: 6px;
          }
        }
        .bottom {
          background-color: #f8f9fd;
          padding: 0px 16px;
          padding-bottom: 16px;
          display: flex;
          flex-wrap: wrap;
          .item {
            padding-left: 0 !important;
            &:first-child {
              margin-left: 0;
            }
            .pointer {
              padding: 5px 24px 5px 0px !important;
              display: flex;
              align-items: center;
              margin: 0;
              input {
                margin-right: 6px;
              }
            }
            .checkbox-input {
              -webkit-appearance: none;
            }
          }
        }
      }
    }
    .modal-footer {
      border-radius: 16px !important;
      background-color: #f8f9fd;
      .btn-link {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: #4b4b4e;
        &:hover {
          opacity: 0.8;
        }
      }
      .btn-primary {
        display: flex;
        align-items: center;
        border-radius: 100px;
        span {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
        }
        i {
          margin-left: 8px;
          font-size: 18px;
        }
      }
    }
  }
}

#modal-lesson {
  .active-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    background-color: #1d1d1d;
    border-radius: 12px !important;
    iframe {
      border-radius: 12px !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.doc {
  .file {
    display: flex;
    background-color: $primary-50;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    .filename {
      &:hover {
        cursor: pointer !important;
        text-decoration: underline;
      }
    }
    i {
      font-size: 24px;
      &:first-child {
        color: #003326;
      }
      &:last-child {
        cursor: pointer !important;
        color: #e9453a;
        &:hover {
          color: #c83026;
        }
      }
    }
    .left {
      display: flex;
      align-items: center;
      div {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #000000;
        margin-left: 8px;
      }
    }
  }
  .input-image {
    position: relative;
    &.dragActive {
      border-color: #0f1b35;
    }
    &.input-image-error {
      border-color: #e9453a;
    }
    .alert {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .dragActiveMessage {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #0f1b35;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      i {
        margin-bottom: 8px;
        font-size: 50px;
      }
    }
    padding: 16px;
    display: flex;
    border: 2px dashed rgba(0, 0, 0, 0.25);
    &:hover {
      border: 2px dashed rgba(0, 0, 0, 0.45);
    }
    border-radius: 10px;
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 48px;
      }
    }
    .right {
      margin-left: 36px;
      h4 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #000000;
      }
      p {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .input-default {
      cursor: pointer;
    }
    .btn {
      display: inline-block;
      border: 2px solid;
      border-radius: 100px;
      padding: 5px 16px;
      font-size: 13px !important;
      &:hover {
        background-color: #0f1b35 !important;
        color: #fff !important;
      }
    }
  }
}

#myvideos-datatable {
  .myvideos-nav {
    display: flex;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 18px;
    cursor: pointer;
    .myvideos-nav-item {
      display: block;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 14px;
      margin-right: 16px;
      padding: 6px 10px;
      color: #40464c;
      &.active {
        color: #0f1b35;
        border-bottom: 2px solid #0f1b35;
      }
    }
  }
}
.wrap-video {
  position: relative;
  width: 144px;
  height: 81px;
  background-color: #000;
  z-index: 1;
  border-radius: 2.65px;

  img {
    z-index: 2;
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 2.65px;
  }
  div {
    padding: 2px 5px;
    bottom: 8px;
    right: 8px;
    color: #fff;
    position: absolute;
    z-index: 99;
    background: rgba(45, 45, 45, 0.9);
    backdrop-filter: blur(1.36458px);
    border-radius: 4.36666px;
  }
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: 96% 50%;
  background-repeat: no-repeat;
  background-image: url(../../../../images/arrow-down.svg);
  padding: 8px 40px 8px 16px !important;
}
select::-ms-expand {
  display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
}
select {
  background-image: none\9;
  padding: 5px\9;
}

.fSQziN {
  border-radius: 8px !important;
}

.rdt_TableCol {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 600;
  font-size: 14px;
  background-color: #e2e2e200 !important;
  color: #4b4b4e !important;
}
.rdt_TableCell {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #40464c;
}

.sc-jrQzAO {
  padding: 16px 0;
}

#videos-upload {
  .label {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    i {
      font-size: 21px;
      margin-right: 8px;
    }
    label {
      margin: 0;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 16px;
      color: #7e7e81;
    }
  }
}

#video {
  .courseContent-tabs {
    row-gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e4e9;
    border-radius: 0px 0px 8px 8px;
    padding: 8px 0;
    margin-top: -30px;
    margin-bottom: 44px;

    .nav-item {
      a {
        display: flex;
        align-items: center;
        padding: 2px 16px;
        margin-right: 16px;
      }
      i {
        font-size: 18px;
        margin-right: 8px;
        color: $primary;
      }
      span {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 15px;
        color: $primary;
      }
      .active {
        background-color: transparent;
        border: 3px solid $primary;
        border-radius: 8px;
      }
    }
  }
}

.video-title {
  h5 {
    color: red;
  }
  form {
    input {
      padding: 10px;
    }
  }
  .bxs-pencil {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
.submitTitleChoice {
  display: flex;
  align-items: center;
  .accept,
  .decline {
    display: flex;
    align-items: center;
  }
  i {
    cursor: pointer;
    font-size: 21px;
    margin-left: 12px;
  }
  .bx-check-circle {
    color: #59c604;
    &:hover {
      opacity: 0.7;
    }
  }
  .bx-x-circle {
    color: #e9453a;
    &:hover {
      opacity: 0.7;
    }
  }
}

.btn-delete {
  .bxs-trash-alt {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.video-custom-select {
  display: flex;
  align-items: center;
  .wrap-thumb {
    width: 58px !important;
    height: 32.4px !important;
    background-color: #080808;
    display: flex;
    justify-content: center;
    img {
      display: inline-block;
      max-width: 100%;
      height: 100%;
    }
  }
  .text {
    .title {
      max-width: 250px;
      display: -webkit-box;
      line-clamp: 1;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 8px;
      font-size: 12px;
    }
    .duration {
      margin-left: 8px;
      font-size: 10px;
    }
  }
}

#board-content-2 {
  .wrap {
    display: flex;
    flex-direction: column;
    background-color: red;
  }
  .column {
    width: 300px;
    padding: 15px;
    background: white;
    border-radius: 5px;
    min-height: 300px;
  }
  .custom-card {
    background-color: #f8f9fd;
    height: 20px;
  }
}
#page-board {
  .nav-tabs .nav-link.active {
    color: $primary;
  }
}
