#page-settings {
  .emailUser {
    display: inline-block;
    font-weight: bold;
  }
  .emailChange {
    font-size: 14px;
    margin-left: 10px;
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }

  .c-img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 100%;
    width: 100px;
    border: 3px solid #0f1b35;

    img {
      width: 100%;
      margin: 0px 0 0 0px;
    }

    .uploading {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 30px;
    }
  }

  #page-settings-notifications {
    .form-check-label {
      margin-top: 0px;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.btn-outline-primary {
  &:disabled {
    cursor: not-allowed;
    &:hover {
      background-color: #0f1b35;
    }
  }
}
