body {
  h4 {
    color: #0f1b35;
  }
}

section#upsell {
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 800px;

  .input-group .area label {
    position: absolute;
    top: 6px;
    left: 8px;
    font-size: 20px;
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #111;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.modal {
  padding-left: 0 !important;
}
section#card {
  input,
  select {
    min-height: 40px;
  }

  form {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: unset !important;
  }

  label {
    color: #344054;
    font-size: 15px;
  }

  .tokenized {
    padding: 15px;
    border-radius: 10px;
    border: #e4e7ec solid 1px;
    cursor: pointer;
    margin-bottom: 15px;

    .header {
      margin-bottom: 15px;
      display: flex;
      justify-content: flex-start;

      .check {
        background: transparent;
        border: 1px solid #d0d5dd;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        margin-right: 15px;

        i {
          display: none;
        }
      }

      .subtitle {
        color: #344054;
      }
    }

    .collapsed {
      color: #667085;
      font-size: 14px;
      margin-left: 36px;
      margin-top: -5px;
    }

    .body {
      display: none;
    }

    &.active {
      border: 2px solid #0f1b35;
      box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
      cursor: default;

      .collapsed {
        display: none;
      }

      .body {
        display: block;
      }

      .check {
        background: #020246;
        color: white;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 12px;
          display: inline;
        }
      }
    }

    .current-card {
      border: 1px solid #d0d5dd;
      padding: 7px 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .icon {
        border: 1px solid #d0d5dd;
        display: flex;
        padding: 1px 3px;
        border-radius: 5px;
        margin-right: 20px;
      }

      .dots {
        display: flex;
        margin-right: 10px;
        .dot {
          background: #101828;
          width: 5px;
          height: 5px;
          display: block;
          border-radius: 100%;
          margin-right: 3px;
        }
      }
      .last-four {
      }
    }
  }

  button {
    margin-bottom: 0;
  }
  button:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

section#pix {
  .d-flex {
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .redo-pix {
    // background: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 310px;
    margin-right: 30px;
    border-radius: 10px;

    @media (max-width: 650px) {
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 30px;

      .label-copy {
        display: block;
        font-size: 13px;
        color: #0f1b35;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
      }
    }

    img {
      max-width: 100%;
      margin-bottom: 30px;

      @media (max-width: 650px) {
        display: none;
      }
    }

    .copy {
      color: #0f1b35;
      border: 2px solid #0f1b35;
      padding: 5px 10px;
      border-radius: 30px;

      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      cursor: pointer;

      &:hover {
        color: white;
        background: #0f1b35;
      }

      i {
        margin-right: 10px;
        font-size: 24px;
        transform: translateY(2px);
      }

      span {
      }
    }
  }

  .qr-code {
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 300px;
    min-width: 370.46px;
    min-height: 340px;
    margin-right: 30px;
    border-radius: 10px;

    .label-copy {
      display: block;
      font-size: 13px;
      color: #0f1b35;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: center;
    }

    @media (max-width: 650px) {
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 30px;
      min-width: auto;
      min-height: auto;

      .label-copy {
        display: block;
        font-size: 13px;
        color: #0f1b35;
        margin-bottom: 10px;
        font-weight: bold;
        text-align: center;
      }
    }

    img {
      max-width: 100%;
      margin-bottom: 30px;

      @media (max-width: 650px) {
        display: none;
      }
    }

    .copy {
      color: #0f1b35;
      border: 2px solid #0f1b35;
      padding: 5px 10px;
      border-radius: 30px;

      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      cursor: pointer;

      &:hover {
        color: white;
        background: #0f1b35;
      }

      i {
        margin-right: 10px;
        font-size: 24px;
        transform: translateY(2px);
      }

      span {
      }
    }
  }

  ul {
    padding-left: 15px;
    color: #505050;

    @media (max-width: 650px) {
      font-size: 14px;
    }

    li {
      margin-bottom: 10px;
    }
  }
  .timer {
    display: flex;
    align-items: center;
    .clock {
      background: #eee;
      border: 7px solid #0f1b35;
      width: 100px;
      height: 100px;
      flex-shrink: 0;
      margin-right: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;

      .time {
        color: #0f1b35;
        font-size: 20px;
      }
    }
    .description {
      color: #0f1b35;
    }
    .description-expired {
      color: red;
    }
  }
}

.form-renovation {
  min-width: 600px;
  max-width: 720px;
  @media (max-width: 912px) {
    min-width: 100%;
  }
}
