.first-steps {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 460px;
  margin: 0 auto;
  text-align: center;
  align-items: center !important;
  justify-content: center !important;

  h1 {
    margin: 0;
  }

  h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: #0f1b35;
    margin: 0;
  }

  p {
    margin: 16px 0 25px 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #656567;
  }

  .first-steps-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    border-radius: 100px;
    padding: 18px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    i {
      font-size: 22px;
    }
  }

  @media (max-width: 720px) {
    h2 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }
}
