.wrapper-switch-media {
  display: flex;
  gap: 4px;
  height: 50px;
  align-items: flex-end;
  padding: 0px;

  span {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 700;
    color: #475569;
    cursor: cell;
    white-space: nowrap;
  }
}
