.media-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 16px 0;
}

.media-placeholder {
  display: flex;
  width: 100%;
  height: 250px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 8px;
  background-color: #e0e0e0;
  font-size: 0.775rem;
  color: #464950;

  svg {
    font-size: 1rem;
  }

  @media (min-width: 580px) {
    height: 350px;
  }

  @media (min-width: 800px) {
    font-size: 0.875rem;

    svg {
      font-size: 1.5rem;
    }
  }
}

.media-image {
  width: 100%;
  height: 250px;
  object-fit: cover;

  @media (min-width: 580px) {
    height: 350px;
  }
}

.media-embed {
  width: 100%;
  height: 250px;
  border: none;

  @media (min-width: 580px) {
    height: 350px;
  }
}