@import '../../scss/components/design-system/ui_colors.scss';

section#auth {
  .authincation {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 20px;
  }
  .auth-content {
    border-radius: 16px;
    padding: 20px;
    width: 460px !important;
    min-width: 200px !important;
    max-width: 460px !important;
    margin: 0 auto;
    background-color: #fff;
    margin: 0 20px;
    
    .message {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 21px;
      color: $primary-400;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .hide-icon {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      i {
        padding: 16px;
        font-size: 24px;
      }
    }
    .btn-re-register {
      font-family: 'Poppins', sans-serif;
      padding: 16px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .validating {
    margin-top: 30px;
    text-align: center;
    i {
      font-size: 30px;
    }
    span {
      display: block;
    }
  }
  .invalid {
    margin-top: 30px;
    b {
      font-size: 18px;
    }
    a {
      color: $primary-400;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#modal-password-help {
  .btn {
    padding: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
}

.reference1 {
  .reference-bg {
    position: relative;
    min-height: 100vh;
    background-color: #fff;
  }
  .register-image-wrapper {
    position: absolute;
    background-image: url('../../images/bg-image-register.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: 998px) {
      background-image: url('../../images/bg-image-register-mobile.jpg') !important;
    }
  }

  #authincation,
  #page-register {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .logo {
      display: block;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 35px;
    }
    .message {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 18px;
      color: $primary-400;
      margin-bottom: 40px;
      text-align: center;
    }
    .alert {
      margin-bottom: 20px;
      background-color: #fbdcda;
      color: $danger-400;
    }
    .authincation-content,
    .register-content {
      position: static;
      z-index: 2 !important;
      width: 485px;
      border-radius: 16px;
      padding: 45px 30px;
      box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.11);
      background-color: #fff;
      border-radius: 20px;

      /* From https://css.glass */
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(0px);
      -webkit-backdrop-filter: blur(0px);
      border: 1px solid rgba(255, 255, 255, 1);

      @media only screen and (max-width: 1200px) {
        padding: 45px 25px;
      }

      small {
        display: block;
        text-align: right;
        font-size: 14px;
        color: $primary-400;
        text-decoration: underline;
      }
      .btn {
        padding: 16px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
      }
      .btn-primary {
        margin-top: 16px;
      }
      .btn-secundary {
        border: 2px solid $primary-400;
        border-radius: 8px;
        margin-top: 32px;
        width: 100%;
      }
      .form-login-page {
        input {
          height: 56px;
          &:-webkit-autofill:focus,
          &:-webkit-autofill {
            font-size: 14px !important;
            -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
          }
        }
      }
    }

    .floating-image {
      border-radius: 16px;
      z-index: 1 !important;
      position: absolute;
      top: 50%;
      left: 350px;
      transform: translateY(-50%);
      width: 755px;
      height: 665px;
      background-image: url('../../images/login-image.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      p {
        margin-right: 60px;
        display: block;
        max-width: 469px;
        color: white;
        font-weight: 400;
        font-size: 21px;
        line-height: 30px;
        strong {
          font-weight: 700;
        }
      }
      ul {
        margin-right: 200px;
        li {
          display: flex;
          align-items: center;
          &:nth-child(2) {
            margin: 35px 0;
          }
          div {
            margin-left: 14px;
            max-width: 83px;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
    }
    .label-terms {
      a {
        cursor: pointer !important;
        color: $primary-400 !important;
        text-decoration: underline !important;
        &:hover {
          color: #4438c0 !important;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    #authincation {
      width: 100% !important;
      height: 100% !important;
      padding: 50px 0;
      padding-bottom: 30px !important;
      .floating-image {
        top: 100px !important;
        left: 50% !important;
        transform: translate(0, 0) !important;
        transform: translateX(-50%) !important;
        max-width: 105%;
        p {
          text-align: center;
          font-size: 16px !important;
          margin: auto auto 0 auto !important;
          margin-bottom: 57px !important;
          max-width: 300px !important;
        }
      }
      .fimage-message-error {
        top: 145px !important;
      }
    }
    .authincation-content {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width: 996px) {
    .register-content {
      max-width: 100%;
      margin: 0 auto;
    }
    #page-register {
      width: 100% !important;
      height: 100% !important;
      padding: 50px 0;
      padding-bottom: 30px !important;
      .button-row {
        flex-direction: column-reverse;
      }
      .register-content {
        margin-top: 0px !important;
        width: 340px !important;
      }
      .floating-image {
        top: 740px;
        left: 50% !important;
        transform: translate(0, 0) !important;
        transform: translateX(-50%) !important;
        max-width: 105%;
        p {
          text-align: center;
          font-size: 16px !important;
          margin: auto auto 0 auto !important;
          margin-bottom: 60px !important;
          max-width: 300px !important;
        }
      }
    }
    .fimage-message-error {
      top: 840px !important;
    }
    .floating-image {
      background-image: url('../../images/register-image.jpg');
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      ul {
        display: flex;
        margin-right: 0px !important;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &:nth-child(2) {
            margin: 0 35px !important;
            margin-bottom: 60px !important;
          }
          margin-bottom: 60px !important;
          div {
            margin: 0 !important;
            text-align: center;
            max-width: 83px;
            font-size: 13px !important;
          }
          img {
            width: 50px;
            margin-bottom: 8px;
          }
        }
      }
    }
  }

  .floating-label {
    label {
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #7a7a7a;
    }
    input {
      font-size: 14px;
    }
  }

  #page-register {
    padding-bottom: 85px;

    .floating-image {
      background-image: url('../../images/register-image.jpg');
    }
    .button-row {
      display: flex;
      row-gap: 32px;
    }
    .invite-code {
      margin-bottom: 10px !important;
    }
    .register-content {
      margin-top: 85px;
      width: 485px;

      .btn-primary {
        margin: 0 !important;
      }
      .btn-secundary {
        margin: 0 !important;
      }
    }
    .register-form {
    }

    .form-error {
      color: $danger-400;
      margin-bottom: 8px;
      line-height: 1rem;
      span {
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: 430px) {
    .floating-image {
      ul {
        li {
          &:nth-child(2) {
            margin: 0 35px !important;
            margin-bottom: 32px !important;
          }
          margin-bottom: 32px !important;
        }
      }
    }
  }

  #page-register {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
    @media only screen and (max-width: 1210px) {
      justify-content: center;
      flex-direction: column-reverse !important;
      align-items: center;
    }
    .wrap-phrase {
      text-align: right;
      padding-right: 70px;
      font-size: 32px;
      font-weight: 400;
      color: $primary-400;
      @media only screen and (max-width: 1210px) {
        text-align: center;
        margin-top: 44px;
        padding-right: 0px;
        font-family: 'Inter', 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500 !important;
      }
    }
    .forget-pass {
      font-style: italic;
      color: #868686 !important;
      font-weight: 500;
      letter-spacing: 0.02rem;
      text-decoration: none !important;
      margin-right: 8px;
      font-size: 13px !important;
      &:hover {
        text-decoration: underline !important;
      }
    }
    .custom-message {
      font-weight: 400;
      font-size: 14px;
      color: $secondary-500;
    }
    .btn-custom-color {
      background-color: $secondary;
      color: $primary;
      border-radius: 100px;
      text-transform: uppercase;
      font-weight: 600;
      width: 315px;
      height: 55px;
      font-size: 16px;
      &:hover {
        background-color: $secondary-500;
      }
      &:disabled {
        background-color: $secondary-400;
        &:hover {
          background-color: $secondary-400;
        }
      }
    }
    .btn-custom-color-outline {
      background-color: transparent;
      border: 2px solid $secondary;
    }
    .wrap-register {
      div {
        color: $secondary-600 !important;
      }
      a {
        color: $primary-400;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .buttonDS-primary {
    margin-top: 16px !important;
  }
}
@media only screen and (max-width: 998px) {
  #page-register {
    padding-top: 60px !important;
  }
  .reference2 {
    .register-content {
      padding: 35px 13px !important;
      margin: 0 25px;
      background-color: #fff !important;
    }
    .logo {
      margin-bottom: 24px;
      max-width: 106px;
    }
    .message {
      margin-bottom: 16px !important;
      font-family: 'Inter', 'Roboto', sans-serif !important;
      font-size: 17px !important;
      font-weight: 500 !important;
      margin-bottom: 24px !important;
    }
    .floating-label {
      margin-bottom: 9px;
      label {
        top: 30px !important;
      }
    }
    label {
      color: #344054 !important;
      font-family: 'Inter', 'Roboto', sans-serif !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      margin-bottom: 6px !important;
    }
    input {
      font-family: 'Inter', 'Roboto', sans-serif !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      border-radius: 8px !important;
      padding: 10px 14px;
      border: 1px solid #d0d5dd;
      height: 44px !important;
    }

    .forget-pass {
      color: #344054 !important;
      font-weight: 500 !important;
      font-family: 'Inter', 'Roboto', sans-serif !important;
      margin-top: 10px !important;
      font-size: 12px !important;
    }
    .buttonDS-primary {
      background-color: #83e7d3;
      color: #000b29;
      letter-spacing: -0.5%;
      padding: 6px 11px !important;
      font-weight: 600;
      margin-top: 24px !important;
      width: 100%;
      font-family: 'Inter', 'Roboto', sans-serif !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      border-radius: 8px !important;
      height: 55px !important;
    }
    .custom-message {
      color: #514a4a !important;
      font-family: 'Inter', 'Roboto', sans-serif !important;
      font-size: 14px !important;
      font-weight: 400 !important;
    }
    a {
      button {
        color: #83e7d3 !important;
        font-family: 'Inter', 'Roboto', sans-serif !important;
        font-size: 14px !important;
        font-weight: 600 !important;
      }
    }
  }
}
