@import './ui_colors.scss';

.badgeDS {
  display: inline-block;
  text-align: center;
  background-color: $success-50;
  padding: 2px 10px;
  border-radius: 100px;
  white-space: nowrap;
  user-select: none;
  span {
    color: $success-600;
    font-size: 12px;
    font-weight: 500;
    .disc {
      &:before {
        content: '';
        display: inline-block;
        margin-bottom: 2px;
        margin-right: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }
}

.badgeDS-size-icon {
  min-width: 30px;
}
.badgeDS-size-md {
  padding: 2px 10px;
}
.badgeDS-size-lg {
  padding: 4px 16px;
  span {
    font-size: 14px;
  }
}

.badgeDS-primary {
  background-color: $primary-50;
  span {
    color: #fff;
  }
  padding-bottom: 3px;
  /*   .disc {
    &:before {
      content: '';
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: currentColor;
    }
  } */
}
.badgeDS-light {
  background-color: #62748d;
  span {
    color: #fff;
  }
  padding-bottom: 3px;
}
.badgeDS-pending {
  background-color: #62748d;
  span {
    color: #fff;
  }
  padding-bottom: 3px;
}
.badgeDS-success,
.badgeDS-approved {
  background-color: #21ae0a;
  span {
    color: #fff;
  }
  padding-bottom: 3px;
  /*   .disc {
    &:before {
      content: '';
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: currentColor;
    }
  } */
}
.badgeDS-danger,
.badgeDS-canceled,
.badgeDS-rejected {
  background-color: #feece9;
  span {
    color: #f04438;
  }
  padding-bottom: 3px;
}
.badgeDS-dark-danger {
  background-color: #f04438;
  span {
    color: #fff;
  }
  padding-bottom: 3px;
  /*   .disc {
    &:before {
      content: '';
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: currentColor;
    }
  } */
}

.badgeDS-warning {
  background-color: $warning-100;
  span {
    color: $warning-800;
  }
  padding-bottom: 3px;
  /*   .disc {
    &:before {
      content: '';
      display: inline-block;
      margin-bottom: 2px;
      margin-right: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: currentColor;
    }
  } */
}

.badgeDS-ranking {
  background-color: $secondary;
  span {
    color: $secondary-50;
  }
}
