$primary: #001432;
$primary-50: #315893;
$primary-100: #113468;
$primary-200: #092653;
$primary-300: #031c42;
$primary-400: #001432;
$primary-500: #000a2e;
$primary-600: #000129;
$primary-700: #030025;
$primary-800: #080020;
$primary-900: #0b001b;

$secondary: #5bebd4;
$secondary-50: #dffffa;
$secondary-100: #bafff4;
$secondary-200: #97ffee;
$secondary-300: #77f8e3;
$secondary-400: #5bebd4;
$secondary-500: #49dbc4;
$secondary-600: #3ccdb6;
$secondary-700: #2ebfa8;
$secondary-800: #22af99;
$secondary-900: #179884;

$light: #b0b1b1;
$light-50: #eeeeee;
$light-100: #e5e5e7;
$light-200: #d0d2d4;
$light-300: #c0c2c5;
$light-400: #b0b1b1;
$light-500: #a3a4a5;
$light-600: #929597;
$light-700: #7c8083;
$light-800: #686d70;
$light-900: #515658;

$success: #3d7068;
$success-50: #add1cc;
$success-100: #79aba3;
$success-200: #679b93;
$success-300: #53867e;
$success-400: #3d7068;
$success-500: #2c5a53;
$success-550: #26524b;
$success-600: #1d4b44;
$success-700: #14453d;
$success-800: #0c352e;
$success-900: #072924;

$danger: #ee6352;
$danger-50: #ffd8d3;
$danger-75: #ffc9c2;
$danger-100: #fdafa5;
$danger-200: #fa8d80;
$danger-300: #f57767;
$danger-400: #ee6352;
$danger-500: #e4503e;
$danger-600: #d7402e;
$danger-700: #c12f1d;
$danger-800: #a71f0f;
$danger-900: #89180a;

$warning: #deb841;
$warning-50: #ffecb2;
$warning-100: #f2d67e;
$warning-200: #eccb64;
$warning-300: #e4c152;
$warning-400: #deb841;
$warning-500: #d2ae3c;
$warning-600: #c3a031;
$warning-700: #b99526;
$warning-800: #a98515;
$warning-900: #9b790e;
