.header-steps-container {
  display: flex;
  justify-content: center;
  padding: 30px 0px 60px 0px !important;

  .wrapper-steps-items {
    display: flex;
    width: 100%;
    max-width: 600px;

    .wrapper-item-step {
      display: flex;
      position: relative;
      margin-left: -2px;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      gap: 4px;

      .wrapper-item {
        display: flex;
        width: 100%;
        align-items: center;

        .current-step {
          padding: 2px;
          border-radius: 999px;
          border: 2px solid #8c8c8c;
          background-color: white;

          div {
            width: 10px;
            height: 10px;
            border-radius: 999px;
          }
        }

        .uncheck-step {
          padding: 7px;
          border-radius: 999px;
          border: 2px solid #8c8c8c;
          margin-left: 2px;
        }

        .header-step-line {
          width: 100%;
          height: 2px;
        }
      }
    }
  }

  @media (max-width: 640px) {
    padding: 30px 25px 60px 25px !important;
  }
}

.label-header-item-step {
  position: absolute;
  top: 20px;
  margin-left: -34px;
  display: block;
  width: 90px;
  padding-right: 6px;
  text-align: center;
  font-size: 0.675rem;
  line-height: 15px;
  font-weight: 500;
}

@media (min-width: 770px) {
  .label-header-item-step {
    font-size: 0.775rem;
  }
}
