@import '../../scss/components/design-system/ui_colors.scss';

#page-market {
  .data-filter {
    * {
      font-size: 16px;
    }

    background: white !important;
    border-radius: 10px;
    margin-bottom: 20px;

    select[name='category'] {
      min-width: 300px;
      option {
        color: #6e6e6e !important;
      }
      option[value='0'] {
        color: #c9c1c4 !important;
      }
    }
  }
  .products {
    & > div {
      a {
        transition: all 0.2s ease-in-out;
        &:hover {
          display: block;
          color: unset !important;
          transform: scale(1.05) !important;
        }
      }
    }
  }

  .card {
    * {
      transition: transform 1s ease;
    }
    .card-header {
      padding: 0;
      overflow: hidden;
      border-bottom: 0px !important;
      img {
        width: 100%;
        height: 312px;
        object-fit: cover;
      }

      .type {
        position: absolute;
        top: 10px;
        left: 10px;
        background: white;
        border-radius: 6px;
        display: flex;
        padding: 3px;

        i {
          font-size: 18px;
        }

        span {
          display: none;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
    &:hover {
      .type {
        span {
          // display: inline-block;
        }

        // -webkit-transform: scale(1.04);
        // -ms-transform: scale(1.04);
        transform: scale(1.1);
        background: #3d4465;
        color: white;
      }
    }
    .card-body {
      padding: 24px !important;
      .hover-text {
        font-size: 16px !important;
        font-weight: 400 !important;
      }
      .category {
        font-size: 14px !important;
        font-weight: 400 !important;
        margin-bottom: 8px;
      }
      .tickets {
        color: #138a36;
        font-size: 18px;
      }
    }
  }
  .pagination {
    .page-item {
      cursor: pointer;
      &.disabled {
        cursor: not-allowed;
        div {
          opacity: 0.7;
        }
      }
      &.active {
        background-color: #0f1b35;
        color: #fff;
      }
    }
  }
}
#page-market-affiliate {
  #offers {
    .offer-name {
      display: flex;
      align-items: center;

      .name {
        margin-right: 10px;
      }

      .bullet {
        background: #f6f6f6;
        font-size: 11px;
        padding: 1px 4px;
        color: #ccc;
        margin-left: 5px;
        border-radius: 3px;
        letter-spacing: 1px;

        &.up {
          background: lightseagreen;
          color: white;
        }
        &.ob {
          background: lightcoral;
          color: white;
        }
      }
    }
  }
  .cover-wrap {
    @media only screen and (max-width: 1200px) {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      border-radius: 0;
      max-width: 100% !important;
    }
  }

  .cover {
    object-fit: cover;
    width: 100%;
    height: 100%;

    border: 1px solid #e7e7e7;
    border-radius: 0.875rem 0 0 0.875rem;
    @media only screen and (max-width: 1200px) {
      margin: 0 auto;
      width: unset;
      border-radius: 0;
    }
  }

  .big {
    font-size: 24px;
  }
  .green {
    color: $success;
  }

  .author {
    .d-flex {
      align-items: center;
    }
    .avatar {
      border-radius: 100%;
      width: 100px;
      margin-right: 30px;
    }
    .name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0px;
    }
    .bio {
      font-size: 14px;
      max-width: 600px;
    }
  }
  .card-description {
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.2) !important;
    padding: 24px;
    .card-body {
      padding: 0;
    }
    .description {
      margin-bottom: 16px;
    }
  }
  .card-promotional-material {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    .card-body {
      opacity: 1;
      background-color: transparent;
      box-shadow: none;
    }
    button {
      margin: 0 auto;
    }
  }

  .info-product {
    @media only screen and (max-width: 1200px) {
      max-width: 345px;
      margin: 0 auto;
    }
    .row {
      @media only screen and (max-width: 1200px) {
        flex-direction: column;
        width: 100%;
      }

      & > div {
        @media only screen and (max-width: 1200px) {
          display: flex;
          flex-direction: column;
          max-width: 100%;
        }
      }
      .d-block {
        font-weight: 400;
        @media only screen and (max-width: 1200px) {
          font-weight: 600;
        }
      }
      span {
        font-weight: 400;
        margin-bottom: 8px;
      }
    }
  }
}
#modal-affiliate {
  .alert {
    background: #e6e7fa;
    color: #0f1b35;
    font-size: 12px;

    b {
      margin-bottom: 5px;
      display: block;
    }
    ul {
      list-style: circle;
      list-style-type: disc;
    }
  }

  .accept {
    display: inline-block;
    cursor: pointer;

    a {
      color: #0f1b35;
      text-decoration: underline;
    }

    input {
      margin-right: 10px;
    }

    input,
    label {
      cursor: pointer;
    }
  }
}

.popoverReserve-offers {
  border: 0 !important;
  z-index: 10 !important;
  border-radius: 8px;
  max-width: 230px;
  ul {
    border-radius: 8px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.28) !important;
    background-color: #f8f9fd !important;
    a {
      margin: 0;
    }
    li {
      display: flex;
      align-items: center;
      border-radius: 0;
      cursor: pointer !important;
      i {
        font-size: 16px;
        margin-right: 8px;
      }
      &:hover {
        color: #fff;
        background-color: $primary;
        a {
          color: #fff;
        }
      }
      &:first-child {
        border-radius: 8px 8px 0 0;
      }
      &:last-child {
        border-radius: 0 0 8px 8px;
      }
      cursor: pointer;
      font-size: 16px;
      padding: 8px 16px;
      border-bottom: 2px solid #e2e2e2;
      border-radius: 0 !important;
      a {
        &:hover {
          color: unset;
        }
      }
    }
  }
}
.popoverReserve-subscription {
  z-index: 9999 !important;
  background-color: #ddd;
}

#custom-ul {
  padding-left: 20px;
  li {
    display: flex;
    align-items: center;
    font-size: 14px;
    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 100%;
      background-color: #031c42;
      margin-right: 5px;
    }
  }
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// ================================= //
.btn-change-page {
  background-color: white;
  padding: 7px 16px;
  border: 1px solid #dadce0;
  color: #626262;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in, color 0.2s ease-in;
}

.btn-change-page:hover {
  background-color: #031c42;
  color: white;
  border: 1px solid #031c42;
}

.btn-change-page:disabled {
  background-color: rgba(199, 199, 199, 0.238);
  cursor: not-allowed;
}

.btn-change-page:disabled:hover {
  background-color: rgba(199, 199, 199, 0.238);
  cursor: not-allowed;
  color: #626262;
  border: 1px solid #dadce0;
}

.btn-change-page.next {
  border-radius: 0px 10px 10px 0px;
}

.btn-change-page.prev {
  border-radius: 10px 0px 0px 10px;
}

.page-number {
  display: flex;
  width: 40px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadce0;
  cursor: pointer;
}
