.wrapper-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper-img {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 40px;

  img {
    width: 80px;
    height: 28px;
  }
}
