.tooltip-custom {
  display: flex;
}
.tooltip-inner {
  text-align: start;
  background-color: #1d2436;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  min-width: 300px;
  border: 2px solid #283046;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: flex;
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      list-style: none;
      justify-content: space-between;
      .bold {
        font-weight: 600;
      }
      &.last {
        padding-top: 6px;
        margin-top: 6px;
        border-top: 2px solid #283046;
      }
    }
  }
}
.wrap-info {
  display: flex;
  min-width: 284px;
}
