.wrapper-trancoso {
  padding: 0px !important;
}

.body-modal-trancoso {
  padding: 0px !important;
  overflow: hidden !important;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.wrapper-header-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;

  .header-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }

  .btn-close {
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 22px;
  }
}

.trancoso-content {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 16px;
  padding: 24px 16px;
  height: auto;
  .img-b4y-house {
    width: 65px;
  }
  .divider-trancoso {
    height: 80px;
    width: 2px;
    background-color: #00000033;
  }
}

.wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h2 {
    font-weight: 600 !important;
    font-size: 0.875rem;
    margin: 0px;
    line-height: 20px;

    span {
      color: #00c6a9;
    }
  }

  p {
    margin: 0px;
    padding: 0px;
    line-height: 16px;
    font-size: 0.775rem;

    color: #000000;

    span {
      font-weight: 600;
    }
  }

  a {
    display: block;
    background-color: #00c6a9;
    font-weight: 600;
    color: white;
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 0.775rem;
    text-align: center;
    max-width: 224px;
    width: fit-content;
  }
}

@media (min-width: 430px) {
  .wrapper-text {
    h2 {
      font-size: 1rem;
    }

    p {
      margin: 0px;
      padding: 0px;
      line-height: 16px;
      font-size: 0.875rem;

      span {
        font-weight: 600;
      }
    }
  }
}

@media (min-width: 500px) {
  .wrapper-text {
    h2 {
      font-size: 1.1rem;
    }
  }

  .trancoso-content {
    padding: 24px 48px;
    gap: 28px;
    .img-b4y-house {
      width: 80px;
    }
    .divider-trancoso {
      height: 80px;
      width: 2px;
      background-color: #00000033;
    }
  }

  .wrapper-header-image {
    .header-image {
      object-fit: fill;
      transform: scale(1);
    }

    .btn-close {
      position: absolute;
      top: 0px;
      right: 10px;
      color: white;
      background-color: transparent;
      border: none;
      font-size: 22px;
    }
  }
}
