#modal-pending {
  ul {
    li {
      list-style-type: disc;
    }
  }
}

#pageCollaboratorsHome {
  .card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
      background: #f9f9f9;
    }

    &:active {
      background: #0f1b35;
      color: white;
      border-radius: 10px;
      * {
        background: #0f1b35;
        color: white;
      }
    }
  }
  .options {
    i {
      font-size: 50px;
      display: block;
      margin-bottom: 10px;
      color: #0f1b35;
    }

    .title {
      font-size: 18px;
    }
  }
}
