$secondary: #0f1b35;
$primary: #4dd0bb;
$primary-50: #eefffc;
$primary-100: #dcfdf8;
$primary-200: #bafaf0;
$primary-300: #9af6e7;
$primary-400: #4dd0bb;
$primary-500: #5bebd4;
$primary-600: #349888;
/* $primary-600: #4dd0bb; */
$primary-700: #41b4a2;
$primary-800: #349888;
$primary-900: #297b6d;

$light: #7e7e81;
$light-50: #ffffff;
$light-100: #f8f9fd;
$light-200: #ddddde;
$light-300: #c3c3c5;
$light-400: #aaaaac;
$light-500: #7e7e81;
$light-600: #656567;
$light-700: #4b4b4e;
$light-800: #19191a;
$light-900: #070708;

$success: #00a94f;
$success-50: #e9f7e8;
$success-100: #d0eecd;
$success-200: #ace2a7;
$success-300: #00ff77;
$success-400: #00cc5f;
$success-500: #00a94f;
$success-550: #009747;
$success-600: #006e52;
$success-700: #004c39;
$success-800: #003326;
$success-900: #001913;

$danger: #e9453a;
$danger-50: #fdf2f1;
$danger-75: #f7e5e5;
$danger-100: #fbdcda;
$danger-200: #f8c7c3;
$danger-300: #f39b95;
$danger-400: #ee7068;
$danger-500: #e9453a;
$danger-600: #d82418;
$danger-700: #aa1c13;
$danger-800: #7c150e;
$danger-900: #4e0d09;

$warning: #f9ac00;
$warning-50: #fff6e0;
$warning-100: #ffeec7;
$warning-200: #ffde94;
$warning-300: #ffce61;
$warning-400: #ffbe2e;
$warning-500: #f9ac00;
$warning-600: #cc8d00;
$warning-700: #996a00;
$warning-800: #755100;
$warning-900: #422e00;
