#modal-rule-webhooks {
  .form-check {
    input, label {
      cursor: pointer;
    }

    label:hover {
      text-decoration: underline;
    }
  }

  .form-check-all {
    input {
      margin-left: 15px;
      margin-right: 5px;
    }

    label {
      font-size: 14px;
    }
  }
}