.wrapper-pix-upsell {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 16px 0px;

  @media (min-width: 800px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.wrapper-pix-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e4e7ec;
  border-radius: 8px;
  padding: 12px 14px;
  font-size: 0.875rem;
  font-weight: 500;
  grid-column: span 1;

  @media (min-width: 800px) {
    grid-column: span 5;
  }
}

.wrapper-qr-code {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #f1f1f1;
  padding: 16px;
  width: 100%;

  .wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    h2 {
      font-size: 0.775rem;
      text-align: center;
      font-weight: 600;
      white-space: nowrap;
    }

    img {
      max-width: 200px;
      width: 100%;
      align-self: center;
    }

    .wrapper-code-copy-icon {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 999px;
      border: 2px solid #0f1b35;
      padding: 4px 12px;
      width: 100%;

      .code-copy {
        display: block;
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }
    }

    .wrapper-code-copy-icon:hover {
      cursor: pointer;
    }
  }

  @media (min-width: 800px) {
    grid-column: span 3;
  }
}

.wrapper-instruction-pix {
  grid-column: span 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h1 {
      font-size: 1.5rem;
      font-weight: 500;
      color: #212529;
      padding-left: 16px;
      margin: 0px;
    }

    ul {
      display: flex;
      list-style: disc;
      flex-direction: column;
      gap: 8px;
      font-size: 0.85rem;
      color: #505050;

      .undeline-text-instruction {
        text-decoration: underline;

        span {
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 470px) {
    flex-direction: column;
    padding-top: 16px;
  }

  @media (min-width: 800px) {
    grid-column: span 2;
  }
}

.wrapper-timer {
  // flex items-center gap-2
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 16px;

  .couter-timer {
    display: flex;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    border: 4px solid #0f1b35;
    background-color: white;
    font-size: 1rem;
    color: #0f1b35;
  }

  p {
    font-size: 0.85rem;
    margin: 0px;
    font-weight: 600;
    color: #0f1b35;
  }
}