#notificacoes {
  .list {
    display: flex;
    max-width: 750px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 16px;
    flex-direction: column;
    background-color: #fff;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 15px;
    padding: 30px 0;
    margin: 0 20px;
    .item-content {
      display: flex;
    }
    &:last-child {
      margin-bottom: 0px;
      border-bottom: 0px;
    }
    .logo-box {
      margin-right: 1rem;
      width: 55px;
      height: 55px;
      background: #eee;
      border-radius: 12px;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .item-text {
      small {
        font-size: 14px;
        max-width: 350px;
      }
    }
  }
}
