.method {
  margin: 0;
  display: flex;
  align-items: center;

  i {
    // transform: translateY(1.5px);
    margin-right: 7px;
    font-size: 18px;
  }
  svg {
    height: 18px;
    margin-right: 7px;
    fill: #555;
    stroke: red;
  }

  span {
    // font-size: 14px;
  }
}
