.bullet-product-type {
  background: #f6f6f6;
  font-size: 11px;
  padding: 2px 4px;
  color: #ccc;
  margin-left: 5px;
  border-radius: 3px;
  letter-spacing: 1px;
}
.bullet-product-type.upsell {
  background: lightseagreen;
  color: white;
}

.bullet-product-type.order-bump {
  background: lightcoral;
  color: white;
}