@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';
@import './components/skeletons/skeleton.scss';

.horizontal-scroll-table {
  overflow-x: auto;
  width: 100%;
}
