.wrapper-config {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper-header-page-config {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  padding: 16px;

  .wrapper-header {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    gap: 4px;
    h3 {
      font-size: 1rem !important;
      margin: 0px;
      color: #0f1b35;
    }
  }

  .wrapper-fields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .wrapper-colors {
      display: flex;
      gap: 16px;
    }
  }
}
