.multi-plans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 16px;
}

.multi-plans__item {
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  padding: 12px;
  transition: border-color 0.2s ease-in-out;
}

.multi-plans__item:hover,
.multi-plans__item.is-selected {
  border-color: #0f1b35;
}

.multi-plans__check {
  position: absolute;
  top: 8px;
  right: 12px;
  color: #16a34a;
}

.multi-plans__content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.multi-plans__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  h1 {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 500;

    @media (min-width: 750px) {
      font-size: 1rem;
    }
  }
}

.multi-plans__frequency {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 400;

  @media (min-width: 750px) {
    font-size: 0.875rem;
  }
}

.multi-plans__subscription {
  margin: 0;
  font-size: 0.65rem;
  font-weight: 600;

  span {
    padding-right: 4px;
    font-weight: 500;
  }

  @media (min-width: 750px) {
    font-size: 0.775rem;
  }
}

.multi-plans__price {
  display: flex;
  align-items: flex-end;
  font-size: 0.775rem;

  @media (min-width: 750px) {
    font-size: 0.875rem;
  }
}
