.wrapper-account-balance {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 700px;
  margin: auto;
  width: 100%;

  .title {
    color: #475569;
    font-size: 1.125rem;
    font-weight: 600;
  }

  .wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    padding: 30px;

    .wrapper-available-balance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #23a426;
      padding: 20px;
      border-radius: 10px;
      color: #ffffff;

      .withdrawal-available {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;

        .currency {
          display: block;
          padding-right: 4px;
          font-size: 1.225rem;
        }

        .price {
          display: block;
        }
      }

      .label {
        display: block;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }

  .peading-balance-wrapper {
    .peading-balance {
      padding: 25px 0px;
      .withdrawal-peading {
        display: flex;
        align-items: end;
        font-size: 1.5rem;
        font-weight: 600;
        color: #23a426;

        .currency {
          display: block;
          padding-right: 4px;
          font-size: 1.225rem;
          padding-bottom: 2px;
        }

        .price {
          display: block;
          padding: 0px;
        }
      }

      .label {
        padding: 0px;
        font-size: 0.875rem;
        font-weight: 500;
      }
    }
  }
  .line {
    width: 53px;
    height: 1px;
    background-color: #475569;
    border-radius: 999px;
    margin: 0;
    padding: 0;
  }

  .wrapper-amount-register {
    padding-top: 25px;

    .amount {
      display: block;
      color: #23a426;
      font-weight: 600;
      font-size: 1.25rem;
    }

    .label {
      display: block;
      padding: 0;
      text-align: left;
      color: #475569;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
}
