.options-payment-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.wrapper-payment-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
  border-radius: 4px;
  border: 1px solid #e4e7ec;
  background-color: transparent;
  padding: 10px 12px;
  text-align: left;

  .payment-title-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .icon-title {
      display: flex;
      width: 100%;
      cursor: pointer;
      align-items: center;
      gap: 6px;
      font-size: 0.875rem;
      font-weight: 500;
      color: #344054;
    }
  }

  .price {
    display: flex;
    gap: 4px;
    font-size: 0.875rem;
    color: #344054;

    .font-medium {
      font-weight: 500;
    }
  }

  .wrapper-discount {
    display: block;
    width: fit-content;
    border-radius: 4px;
    background-color: #0f1b35;
    padding: 2px 6px;
    font-size: 0.675rem;
    color: white;
  }

  @media (min-width: 800px) {
    gap: 6px;

    .price {
      font-size: 0.775rem;
    }
  }
}
