.modal-payment {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-payment-upsell-native {
  width: 100%;
  max-width: 550px;
  max-height: calc(100vh - 100px);
  background-color: white;
  border-radius: 10px;
  padding: 24px;
  overflow-y: auto;

  .header-upsell-payment-modal {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      color: #020246;
      margin: 0px;
      width: 100%;
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 24px;
      color: #1d2939;
      padding: 0px;
      cursor: pointer;
      height: fit-content;
      width: fit-content;
      outline: none;
    }
  }

  @media (max-width: 530px) {
    overflow-y: scroll;
  }

  @media (min-width: 500px) {
    max-height: fit-content;
    overflow-y: auto;
  }
}
