.form-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1.25rem;
  width: 100%;
}

@media (max-width: 400px) {
  .form-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1220px) {
  .form-wrapper > *:last-child {
    grid-column: 1 / -1;
  }
}

.wrapper-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.step-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.3s;
}

.circle.active {
  background-color: rgba(32, 195, 116, 1);
}

.line {
  width: 5em;
  height: 0.1em;
  background-color: #ccc;
  margin: 0 10px;
  transition: background-color 0.3s;
}

@media (max-width: 400px) {
  .line {
    width: 2.5em;
  }
}

.line.active {
  background-color: rgba(32, 195, 116, 1);
}
.step-progress span {
  margin-top: 5px;
  font-size: 0.6em;
}

.ob-physical3steps,
.ob-info3steps {
  & > div {
    display: block !important;
  }
  img {
    display: flex !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-bottom: 15px !important;
  }
}
.frame1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame1-frame1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
  flex: 1;
}

.frame1-frame37260 {
  width: 100%;
  flex: 1;
  background: transparent;
}

.form-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.frame1-frame372581 {
  gap: 1rem;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1-entrega {
  gap: 16px;
  width: 378.6666564941406px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-frame372541 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.frame1-frame372531 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(199, 199, 199, 1);
}
.frame1-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text38 {
  color: rgba(181, 181, 181, 1);
  height: auto;
  font-size: 19px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text40 {
  color: rgba(197, 197, 197, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame1-frame37259 {
  gap: 32px;
  width: 378.66668701171875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame1-component2 {
  gap: 16px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-frame372542 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.frame1-frame372532 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(199, 199, 199, 1);
}
.frame1-text42 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text43 {
  color: rgba(181, 181, 181, 1);
  height: auto;
  font-size: 19px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text45 {
  color: rgba(197, 197, 197, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-pagamento {
  gap: 16px;
  width: 378.6666564941406px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 16px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.frame1-frame372543 {
  gap: 12px;
  display: flex;
  align-items: center;
}
.frame1-frame372533 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 500px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(199, 199, 199, 1);
}
.frame1-text47 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 18px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text48 {
  color: rgba(181, 181, 181, 1);
  height: auto;
  font-size: 19px;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame1-text50 {
  color: rgba(197, 197, 197, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.frame1-frame372601 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 24px;
  border: 2px solid var(--hex-color, rgba(248, 107, 134, 1));
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  max-height: max-content;
  width: 100%;
}

.cnpj-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  position: relative;
  padding: 0 !important;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}

.cnpj-checkbox:checked {
  background-color: #4caf50;
}

.cnpj-checkbox::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 0.5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .form-container {
    justify-content: center;
  }

  .div01 input {
    color: rgba(63, 63, 63, 1);
    height: auto;
    font-size: 0.9em;
    font-style: Medium;
    text-align: left;
    font-family: Poppins;
    font-weight: 500;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }

  .columnCel {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    .input-group {
      width: 50%;
      input [name='expiry'] {
        width: 11.1em;
        order: 2;
      }
    }
  }
  .columnCel {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    .input-group {
      width: 50%;
      input [name='cvc'] {
        width: 11.1em;
        order: 1;
      }
    }
  }
}
