.current-card-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 10px;
  border: 1.5px solid #e4e7ec;
  padding: 16px;
  gap: 8px;

  .card-title-wrapper {
    display: flex;
    gap: 8px;

    button {
      margin-top: 4px;
      max-width: 15px;
      min-width: 15px;
      height: 15px;
      cursor: pointer;
      border-radius: 999px;
      border: 1px solid #b8b8b8 !important;
      background-color: transparent !important;
    }

    .title-text {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h3 {
        font-size: 0.875rem;
        font-weight: 500;
        color: #344054;
        margin: 0px !important;
        text-align: start !important;
      }

      p {
        font-size: 400;
        font-size: 0.775rem;
        color: #667085;
      }
    }
  }
}

.wrapper-upsell-native-current-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;

  .wrapper-upsell-native-inputs {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;

    button {
      border: none;
      padding: 12px;
      border-radius: 10px;
      background-color: #36b90e;
      font-size: 1.12rem;
      font-weight: 500;
      color: white;
      cursor: pointer;
      width: 100%;
      margin-bottom: 8px;
      outline: none;
    }

    button:hover {
      background-color: #2e9d0c;
    }
  }

  .wrapper-current-card {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    border: 1.5px solid #e4e7ec;
    padding: 2px 16px;

    .card-number-current {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
