.wrapper-card-option {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .wrapper-btn-installment {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;

    button {
      border: none;
      padding: 12px;
      border-radius: 10px;
      background-color: #36b90e;
      font-size: 1.12rem;
      font-weight: 500;
      color: white;
      cursor: pointer;
      width: 100%;
    }

    button:hover {
      background-color: #2e9d0c;
    }
  }
}

.wrapper-payment-success,
.wrapper-payment-error {
  display: flex;
  flex-direction: column;
  .wrapper-header-payment-success,
  .wrapper-header-payment-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 1rem;
    }
  }
  .subtitle-payment-success,
  .subtitle-payment-error {
    width: 100%;
    text-align: center;
  }
}

.wrapper-page-redirect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-top: 16px;

  span {
    // block text-[0.75rem] font-medium
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .loading-payment {
    animation: spin 1s linear infinite;
  }
}

.wrapper-payment-process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .loading-payment {
    animation: spin 1s linear infinite;
  }

  .label-payment-process {
    display: block;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
  }
}

.wrapper-payment-error-action {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    padding: 0px 0px 16px 0px;

    button {
      width: 300px;
      height: 33px;
      outline: none;
      border-radius: 8px;
      border: 0px;
      cursor: pointer;
      background-color: #0f1b35;
      color: white;
    }

    button:hover {
      background-color: rgba(15, 27, 53, 0.953);
    }
  }
  p {
    // text-[0.75rem] font-medium
    font-size: 0.75rem;
    font-weight: 500;
  }
}
