#page-sales {
  .stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }

  .bullet {
    background: #f6f6f6;
    font-size: 11px;
    padding: 1px 4px;
    color: #ccc;
    margin-left: 5px;
    border-radius: 3px;
    letter-spacing: 1px;
  }
  .bullet.upsell {
    background: lightseagreen;
    color: white;
  }

  .bullet.order-bump {
    background: lightcoral;
    color: white;
  }
}

.url-params {
  label {
    font-size: 14px;
  }
  input {
    padding: 6px 8px;
  }
}

.css-26l3qy-menu {
  .css-9gakcf-option {
    background-color: unset;
    color: #1a1a1a;
    &:hover {
      background-color: #dce4ed;
    }
  }
}

.label-filter {
  color: #475569;
  font-weight: 600;
}

.btn-show {
  display: flex;
  align-items: center;
  background: transparent;
  color: #475569;
  font-weight: 500;
  border: none;
  font-size: 14px;
  cursor: pointer;

  i {
    font-size: 1.25rem;
  }
}

.expandable {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.expandable.show {
  max-height: 900px;
  opacity: 1;
}

.rmsc.filter-sales .dropdown-container {
  border-radius: 12px !important;
}

.filter-sales {
  border-radius: 12px !important;
}

.switch-label {
  font-size: 14px;
  font-weight: 500;
  color: #475569;
}
